<script type="text/ng-template" id="mission-screen.html">
    <div screen="mission">

        <!-- one way pass values to component -->
        <hero-item
                imgs="['public/img/lounges/airport.jpg']"
                heading="Mission & Vision"
        ></hero-item>

        <block-item img="public/img/lounges/12.jpg">
            <content>
                <h1>Planned & Executed</h1>

                <p>
                    The VIP Lounge aims to make the planning and execution of your event as easy and stress free as possible. Our experienced and dedicated events coordinators will guide you through every step of planning your event, from designing your event theme to choosing menus and putting the finishing flourishes to your plans.
                </p>
                <p>
                    Every one of our clients has a distinct vision for their big day and we will work with you combining your dreams with our ideas and years of experience in executing stunning and flawless events.
                </p>
            </content>
        </block-item>

        <foot-item></foot-item>


    </div>
</script>