<script type="text/ng-template" id="our-services-screen.html">
    <div screen="our-services">


        <hero-item
                imgs="['public/img/lounges/6.jpg']"
                heading="Our Services"
        ></hero-item>


        <!--<div class="container">-->
        <!--<div style="height: 40px;"></div>-->
        <!--<h2><a href="">International Lounges &nbsp;  <i class="fa fa-angle-down"></i></a></h2>-->
        <!--</div>-->


        <!--<lounge-list-item></lounge-list-item>-->

        <block-item
                img="public/img/lounges/vip.jpg"
        >
            <content>
                <h1>Priority Immigration Services</h1>

                <p>
                    EO lounges have been an established destination for first-class and business travellers for over 30 years.
                </p>
            </content>
        </block-item>

        <block-item
                img="public/img/lounges/mac.jpg"
                reverse="true"
        >
            <content>
                <h1>WiFi</h1>

                <p>
                    Our lounges provide the best areas for passengers to sit-back and relax, with free Wi-Fi, gourmet food and state of the art ergonomics.
                </p>
            </content>
        </block-item>

        <block-item
                img="public/img/lounges/7.jpg"
        >
            <content>
                <h1>Comfort Seating</h1>

                <p>
                    EO lounges have been an established destination for first-class and business travellers for over 30 years.
                </p>
            </content>
        </block-item>

        <!--<div style="height: 50px;"></div>-->

        <foot-item></foot-item>
    </div>
</script>