<script type="text/ng-template" id="lounges-screen.html">
    <div screen="lounges">


        <hero-item
                imgs="['http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME']"
                heading="Our Lounges"
        ></hero-item>


        <!--<div class="container">-->
            <!--<div style="height: 40px;"></div>-->
            <!--<h2><a href="">International Lounges &nbsp;  <i class="fa fa-angle-down"></i></a></h2>-->
        <!--</div>-->


        <lounge-list-item types="['International', 'Regional', 'Local']">
            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Regional Lounge 2"
                    content="hello 2"
                    type="Regional"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Lounge"
                    content="hello"
                    type="International"
            ></lounge-item>

            <lounge-item
                    img="http://www.moooi.com/sites/default/files/styles/xtralarge/public/project-image/reception_lounge01.jpg?itok=79kBFgME"
                    name="My Regional Lounge 2"
                    content="hello 2"
                    type="Regional"
            ></lounge-item>
        </lounge-list-item>

        <div style="height: 50px;"></div>

        <foot-item></foot-item>
    </div>
</script>